@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

body {
    /* background-color: #0b0c10; */
    /* background-image: url(../Paginas/imagens/feather.jpg);
    background-size: cover; */
    background-image: linear-gradient(90deg, #0b0c10, #1f2833);
}

h1 {
    color: #66fcf1;
    text-align: center;
    font-size: 50px;
}

h2, h3, h4 {
    color: #66fcf1;
}

li {
    color: white;
}

p {
    color: white;
}

div {
    border-color: #1f2833;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30%;
}

#mainPaginas{
    margin-left: 50%;
    padding-top: 10px;
    transform: translateX(-50%);
}

#grupoTerror {
    padding-bottom: 20px;
    padding-top: 20px;
}


#grupoHeroi {
    padding-bottom: 20px;
}

#grupoAnimacao {
    padding-bottom: 20px;
}

.estilo_links {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.estilo_links li {
    display: inline-block;
    padding: 0px 20px;
}

.estilo_links li a {
    transition: all 0.3s ease 0s;
    color: white;
    text-decoration: none;
}

.estilo_links li a:hover {
    color: #45a29e;
}

.perfil{
    display: grid;
    justify-content: right;
}

.destaque {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}