@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.perfil{
    display: grid;
    justify-content: right;
}

.destaque {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
